<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>

<body>

{{ range .PodRuleResults }}

<p>Rule name: {{ .RuleName }}</p>
<p>Rule reason: {{ .Reason }}</p>
<ul>
    {{ range .Pods }}
    <li>name: {{ .Name }}, namespace: {{ .Namespace }}, uid: {{ .UID }}</li>
    {{ end }}
</ul>
{{ end }}

{{ range .DeploymentRuleResults }}

<p>Rule name: {{ .RuleName }}</p>
<p>Rule reason: {{ .Reason }}</p>
<ul>
{{ range .Deployments }}
    <li>name: {{ .Name }}, namespace: {{ .Namespace }}</li>
{{ end }}
</ul>
{{ end }}


</body>

</html>